@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

pink = #ff6050
space = #2c3e50
spacetext = #6b7c93

body
    height 100% !important
html
    height 100% !important
.main
  height 100% !important
#portfolio
  min-height 400px
  padding-top 40px
  padding-bottom 20px
  font-family 'Open Sans', sans-serif
  a  
    color pink
    text-decoration none
    transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
    &:hover
      text-decoration none
      color rgba(pink,.6)
  h2 
    font-weight 300
    font-size 50px
    margin-bottom 0px
    margin-top 0px
  h4
    margin-top 42px
    float right
    font-size 28px
  p
    color spacetext
    font-weight 300
    margin-bottom 0px
  .card
    margin-bottom 40px
    background #f9fbfd
    border 1px solid #dee5ec
    box-shadow 0 1px 2px 0 rgba(0,0,0,.03)
    border-radius 4px
    z-index 1
    img 
      z-index -9998
      border-top-left-radius 4px
      border-top-right-radius 4px
  .content 
    display table
    width 100%
    height auto
    padding 0 20px
    background #fff
    border-radius 4px
    img 
      width 100%
  .head 
    display table-cell
    vertical-align middle
    padding 5px
    h3
      margin-top 25px
      font-size 20px
      font-weight 600
      color #414959
      text-transform uppercase
    .row 
      margin-bottom 40px
    span 
      display block
      font-size 14px
      margin-bottom 20px
      margin-top 5px
  .more
    border-top 1px dotted #dee5ec
    display block
    padding 12px 15px
    border-bottom 1px dotted #dee5ec
    font-size 14px
    text-decoration none
    transition all .2s linear
  .clients 
    margin 0 auto 
    text-align center
    h4 
      font-size 22px 
      font-weight 200
      margin-top 20px
    ul 
      list-style none
      margin 0 
      padding 0
      li
        display inline-block
        margin-top 20px
        margin-left 25px 
        margin-right 25px
        img 
          width 140px

footer 
  padding 20px 
  border-top 1px solid rgba(space,0.2)
  color spacetext
  h4 
    display inline-block
    font-size 14px
    font-weight 300
    margin-top 12px
  nav 
    display inline-block      
    float right  
    a 
      font-size 14px 
      font-weight: 300

@media (max-width: 676px)
  #portfolio 
    padding 40px 0px
    h2 
      text-align center 
      font-size 38px
    p  
      text-align center
      margin-bottom 20px
    .card 
      p 
        text-align left
    .clients
      h4 
        font-size 18px
        width: 70%
        margin 0 auto
      ul 
        li  
          img 
            width 80px
  footer 
    h4 
      display inline-block
      font-size 13px
      text-align center
    nav 
      float none
      display block
      ul 
        li 
          margin 0 auto
    .float-right
      float none !important